In [4]:
import pandas as pd

In [48]:
df_lists = pd.DataFrame()
start_year= 2000
end_year = 2018

#scrapes data from hockeyreference.com
for year in range (start_year,end_year+1):
    k=1

    # 2005 was the lockout so there is no data to be scraped
    if year == 2005:
        print("2005 was the lockout")

    else:
        url = r'https://www.hockey-reference.com/leagues/NHL_' + str(year) + r'_games.html' 

        df_temp_reg = pd.DataFrame(pd.read_html(url)[0])
        df_temp_reg['season'] = year

    # use commented out code if playoff data is desired

        try:
            df_temp_post = pd.DataFrame(pd.read_html(url)[1])
            df_temp_post['season'] = year

        except IndexError as e:
            k = 0
            print('no playoffs available yet')
        
        print (str(year) + " scraped")

    df_lists = df_lists.append(df_temp_reg)

    if k == 1:
        df_lists.append(df_temp_post)

2000 scraped
2001 scraped
2002 scraped
2003 scraped
2004 scraped
2005 was the lockout
2006 scraped
2007 scraped
2008 scraped
2009 scraped
2010 scraped
2011 scraped
2012 scraped
2013 scraped
2014 scraped
2015 scraped
2016 scraped
2017 scraped
2018 scraped

In [49]:
df_lists.columns

Index(['Date', 'Visitor', 'G', 'Home', 'G.1', 'Unnamed: 5', 'Att.', 'LOG',
       'Notes', 'season'],
      dtype='object')

In [50]:
df_lists.shape

(22823, 10)

In [60]:
df_lists['Home'].unique()

array(['Dallas Stars', 'Edmonton Oilers', 'Atlanta Thrashers',
       'Boston Bruins', 'Detroit Red Wings', 'Florida Panthers',
       'Montreal Canadiens', 'Nashville Predators', 'Philadelphia Flyers',
       'San Jose Sharks', 'St. Louis Blues', 'Tampa Bay Lightning',
       'Vancouver Canucks', 'Toronto Maple Leafs', 'New York Rangers',
       'Phoenix Coyotes', 'Calgary Flames', 'New Jersey Devils',
       'Ottawa Senators', 'Buffalo Sabres', 'Chicago Blackhawks',
       'Mighty Ducks of Anaheim', 'Pittsburgh Penguins',
       'Washington Capitals', 'New York Islanders', 'Colorado Avalanche',
       'Los Angeles Kings', 'Carolina Hurricanes',
       'Columbus Blue Jackets', 'Minnesota Wild', 'Anaheim Ducks',
       'Winnipeg Jets', 'Arizona Coyotes', 'Vegas Golden Knights'],
      dtype=object)

In [61]:
df_lists.head()

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG,Notes,season
0,1999-10-01,Pittsburgh Penguins,4.0,Dallas Stars,6.0,NaN,NaN,NaN,NaN,2000
1,1999-10-01,New York Rangers,1.0,Edmonton Oilers,1.0,OT,NaN,NaN,NaN,2000
2,1999-10-02,New Jersey Devils,4.0,Atlanta Thrashers,1.0,NaN,NaN,NaN,NaN,2000
3,1999-10-02,Carolina Hurricanes,3.0,Boston Bruins,1.0,NaN,NaN,NaN,NaN,2000
4,1999-10-02,Mighty Ducks of Anaheim,0.0,Dallas Stars,2.0,NaN,NaN,NaN,NaN,2000

In [62]:
df_lists.rename(columns={'G':'VisitingGoals',
                       'G.1':'HomeGoals',
                       'Unnamed: 5':'OTSO',
                       }, inplace = True)
df_lists.head()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,Att.,LOG,Notes,season
0,1999-10-01,Pittsburgh Penguins,4.0,Dallas Stars,6.0,NaN,NaN,NaN,NaN,2000
1,1999-10-01,New York Rangers,1.0,Edmonton Oilers,1.0,OT,NaN,NaN,NaN,2000
2,1999-10-02,New Jersey Devils,4.0,Atlanta Thrashers,1.0,NaN,NaN,NaN,NaN,2000
3,1999-10-02,Carolina Hurricanes,3.0,Boston Bruins,1.0,NaN,NaN,NaN,NaN,2000
4,1999-10-02,Mighty Ducks of Anaheim,0.0,Dallas Stars,2.0,NaN,NaN,NaN,NaN,2000

In [63]:
df_lists.dtypes

Date              object
Visitor           object
VisitingGoals    float64
Home              object
HomeGoals        float64
OTSO              object
Att.             float64
LOG               object
Notes             object
season             int64
dtype: object

In [64]:
df_lists.drop(['Att.','LOG','Notes'], axis = 1, inplace=True)

In [65]:
df_lists.head()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,season
0,1999-10-01,Pittsburgh Penguins,4.0,Dallas Stars,6.0,NaN,2000
1,1999-10-01,New York Rangers,1.0,Edmonton Oilers,1.0,OT,2000
2,1999-10-02,New Jersey Devils,4.0,Atlanta Thrashers,1.0,NaN,2000
3,1999-10-02,Carolina Hurricanes,3.0,Boston Bruins,1.0,NaN,2000
4,1999-10-02,Mighty Ducks of Anaheim,0.0,Dallas Stars,2.0,NaN,2000

In [66]:
df_lists.dtypes

Date              object
Visitor           object
VisitingGoals    float64
Home              object
HomeGoals        float64
OTSO              object
season             int64
dtype: object

In [67]:
df_lists.loc[:,'Date'] = pd.to_datetime(df_lists['Date'])

In [68]:
df_lists.dtypes

Date             datetime64[ns]
Visitor                  object
VisitingGoals           float64
Home                     object
HomeGoals               float64
OTSO                     object
season                    int64
dtype: object

In [69]:
df_lists['OTSO'].unique()

array([nan, 'OT', 'SO'], dtype=object)

In [75]:
df_lists['Home'].unique()

array(['Dallas Stars', 'Edmonton Oilers', 'Atlanta Thrashers',
       'Boston Bruins', 'Detroit Red Wings', 'Florida Panthers',
       'Montreal Canadiens', 'Nashville Predators', 'Philadelphia Flyers',
       'San Jose Sharks', 'St. Louis Blues', 'Tampa Bay Lightning',
       'Vancouver Canucks', 'Toronto Maple Leafs', 'New York Rangers',
       'Phoenix Coyotes', 'Calgary Flames', 'New Jersey Devils',
       'Ottawa Senators', 'Buffalo Sabres', 'Chicago Blackhawks',
       'Mighty Ducks of Anaheim', 'Pittsburgh Penguins',
       'Washington Capitals', 'New York Islanders', 'Colorado Avalanche',
       'Los Angeles Kings', 'Carolina Hurricanes',
       'Columbus Blue Jackets', 'Minnesota Wild', 'Anaheim Ducks',
       'Winnipeg Jets', 'Arizona Coyotes', 'Vegas Golden Knights'],
      dtype=object)

In [76]:
replace_dict= {'Home':{'Atlanta Thrashers': 'Winnipeg Jets',
                      'Mighty Ducks of Anaheim': 'Anaheim Ducks',
                      'Phoenix Coyotes': 'Arizona Coyotes'},
              'Visitor':{'Atlanta Thrashers': 'Winnipeg Jets',
                      'Mighty Ducks of Anaheim': 'Anaheim Ducks',
                      'Phoenix Coyotes': 'Arizona Coyotes'}}

In [77]:
df_lists.replace(replace_dict,inplace=True)

In [80]:
df_lists['Home'].unique()

array(['Dallas Stars', 'Edmonton Oilers', 'Winnipeg Jets',
       'Boston Bruins', 'Detroit Red Wings', 'Florida Panthers',
       'Montreal Canadiens', 'Nashville Predators', 'Philadelphia Flyers',
       'San Jose Sharks', 'St. Louis Blues', 'Tampa Bay Lightning',
       'Vancouver Canucks', 'Toronto Maple Leafs', 'New York Rangers',
       'Arizona Coyotes', 'Calgary Flames', 'New Jersey Devils',
       'Ottawa Senators', 'Buffalo Sabres', 'Chicago Blackhawks',
       'Anaheim Ducks', 'Pittsburgh Penguins', 'Washington Capitals',
       'New York Islanders', 'Colorado Avalanche', 'Los Angeles Kings',
       'Carolina Hurricanes', 'Columbus Blue Jackets', 'Minnesota Wild',
       'Vegas Golden Knights'], dtype=object)

In [82]:
df_lists.head()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,season
0,1999-10-01,Pittsburgh Penguins,4.0,Dallas Stars,6.0,NaN,2000
1,1999-10-01,New York Rangers,1.0,Edmonton Oilers,1.0,OT,2000
2,1999-10-02,New Jersey Devils,4.0,Winnipeg Jets,1.0,NaN,2000
3,1999-10-02,Carolina Hurricanes,3.0,Boston Bruins,1.0,NaN,2000
4,1999-10-02,Anaheim Ducks,0.0,Dallas Stars,2.0,NaN,2000