In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df_lists = pd.DataFrame()
start_year= 2018
end_year = 2020

#scrapes data from hockeyreference.com
for year in range (start_year,end_year+1):
    k=1

    # 2005 was the lockout so there is no data to be scraped
    if year == 2005:
        print("2005 was the lockout")

    else:
        url = r'https://www.hockey-reference.com/leagues/NHL_' + str(year) + r'_games.html' 

        df_temp_reg = pd.DataFrame(pd.read_html(url)[0])
        df_temp_reg['season'] = year

    # use commented out code if playoff data is desired

        try:
            df_temp_post = pd.DataFrame(pd.read_html(url)[1])
            df_temp_post['season'] = year

        except IndexError as e:
            k = 0
            print('no playoffs available yet')
        
        print (str(year) + " scraped")

    df_lists = df_lists.append(df_temp_reg)

    if k == 1:
        df_lists.append(df_temp_post)

2018 scraped
2019 scraped
no playoffs available yet
2020 scraped

In [3]:
df_lists.columns

Index(['Date', 'Visitor', 'G', 'Home', 'G.1', 'Unnamed: 5', 'Att.', 'LOG',
       'Notes', 'season'],
      dtype='object')

In [4]:
df_lists.tail()

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG,Notes,season
1266,2020-04-04,Chicago Blackhawks,NaN,New York Rangers,NaN,NaN,NaN,NaN,NaN,2020
1267,2020-04-04,Pittsburgh Penguins,NaN,Ottawa Senators,NaN,NaN,NaN,NaN,NaN,2020
1268,2020-04-04,Anaheim Ducks,NaN,San Jose Sharks,NaN,NaN,NaN,NaN,NaN,2020
1269,2020-04-04,Montreal Canadiens,NaN,Toronto Maple Leafs,NaN,NaN,NaN,NaN,NaN,2020
1270,2020-04-04,Vegas Golden Knights,NaN,Vancouver Canucks,NaN,NaN,NaN,NaN,NaN,2020

In [5]:
df_lists.shape

(3813, 10)

In [6]:
df_lists['Home'].unique()

array(['Edmonton Oilers', 'Pittsburgh Penguins', 'San Jose Sharks',
       'Winnipeg Jets', 'Anaheim Ducks', 'Boston Bruins',
       'Buffalo Sabres', 'Chicago Blackhawks', 'Detroit Red Wings',
       'Los Angeles Kings', 'New York Rangers', 'Ottawa Senators',
       'Columbus Blue Jackets', 'Dallas Stars', 'Tampa Bay Lightning',
       'Arizona Coyotes', 'Carolina Hurricanes', 'Calgary Flames',
       'Florida Panthers', 'New Jersey Devils', 'New York Islanders',
       'St. Louis Blues', 'Toronto Maple Leafs', 'Vancouver Canucks',
       'Washington Capitals', 'Montreal Canadiens', 'Nashville Predators',
       'Vegas Golden Knights', 'Colorado Avalanche', 'Minnesota Wild',
       'Philadelphia Flyers'], dtype=object)

In [7]:
df_lists.head()

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG,Notes,season
0,2017-10-04,Calgary Flames,0.0,Edmonton Oilers,3.0,NaN,18347.0,2:34,NaN,2018
1,2017-10-04,St. Louis Blues,5.0,Pittsburgh Penguins,4.0,OT,18652.0,2:38,NaN,2018
2,2017-10-04,Philadelphia Flyers,5.0,San Jose Sharks,3.0,NaN,17562.0,2:27,NaN,2018
3,2017-10-04,Toronto Maple Leafs,7.0,Winnipeg Jets,2.0,NaN,15321.0,2:33,NaN,2018
4,2017-10-05,Arizona Coyotes,4.0,Anaheim Ducks,5.0,NaN,17174.0,2:38,NaN,2018

In [8]:
df_lists.rename(columns={'G':'VisitingGoals',
                       'G.1':'HomeGoals',
                       'Unnamed: 5':'OTSO',
                       }, inplace = True)
df_lists.head()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,Att.,LOG,Notes,season
0,2017-10-04,Calgary Flames,0.0,Edmonton Oilers,3.0,NaN,18347.0,2:34,NaN,2018
1,2017-10-04,St. Louis Blues,5.0,Pittsburgh Penguins,4.0,OT,18652.0,2:38,NaN,2018
2,2017-10-04,Philadelphia Flyers,5.0,San Jose Sharks,3.0,NaN,17562.0,2:27,NaN,2018
3,2017-10-04,Toronto Maple Leafs,7.0,Winnipeg Jets,2.0,NaN,15321.0,2:33,NaN,2018
4,2017-10-05,Arizona Coyotes,4.0,Anaheim Ducks,5.0,NaN,17174.0,2:38,NaN,2018

In [9]:
df_lists.dtypes

Date              object
Visitor           object
VisitingGoals    float64
Home              object
HomeGoals        float64
OTSO              object
Att.             float64
LOG               object
Notes            float64
season             int64
dtype: object

In [10]:
df_lists.drop(['Att.','LOG','Notes'], axis = 1, inplace=True)

In [11]:
df_lists.head()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,season
0,2017-10-04,Calgary Flames,0.0,Edmonton Oilers,3.0,NaN,2018
1,2017-10-04,St. Louis Blues,5.0,Pittsburgh Penguins,4.0,OT,2018
2,2017-10-04,Philadelphia Flyers,5.0,San Jose Sharks,3.0,NaN,2018
3,2017-10-04,Toronto Maple Leafs,7.0,Winnipeg Jets,2.0,NaN,2018
4,2017-10-05,Arizona Coyotes,4.0,Anaheim Ducks,5.0,NaN,2018

In [12]:
df_lists.dtypes

Date              object
Visitor           object
VisitingGoals    float64
Home              object
HomeGoals        float64
OTSO              object
season             int64
dtype: object

In [16]:
df_lists.loc[:,'Date'] = pd.to_datetime(df_lists['Date'])

In [17]:
df_lists.dtypes

Date             datetime64[ns]
Visitor                  object
VisitingGoals           float64
Home                     object
HomeGoals               float64
OTSO                     object
season                    int64
dtype: object

In [18]:
df_lists['OTSO'].unique()

array([nan, 'OT', 'SO'], dtype=object)

In [19]:
df_lists['Home'].unique()

array(['Edmonton Oilers', 'Pittsburgh Penguins', 'San Jose Sharks',
       'Winnipeg Jets', 'Anaheim Ducks', 'Boston Bruins',
       'Buffalo Sabres', 'Chicago Blackhawks', 'Detroit Red Wings',
       'Los Angeles Kings', 'New York Rangers', 'Ottawa Senators',
       'Columbus Blue Jackets', 'Dallas Stars', 'Tampa Bay Lightning',
       'Arizona Coyotes', 'Carolina Hurricanes', 'Calgary Flames',
       'Florida Panthers', 'New Jersey Devils', 'New York Islanders',
       'St. Louis Blues', 'Toronto Maple Leafs', 'Vancouver Canucks',
       'Washington Capitals', 'Montreal Canadiens', 'Nashville Predators',
       'Vegas Golden Knights', 'Colorado Avalanche', 'Minnesota Wild',
       'Philadelphia Flyers'], dtype=object)

In [20]:
replace_dict= {'Home':{'Atlanta Thrashers': 'Winnipeg Jets',
                      'Mighty Ducks of Anaheim': 'Anaheim Ducks',
                      'Phoenix Coyotes': 'Arizona Coyotes'},
              'Visitor':{'Atlanta Thrashers': 'Winnipeg Jets',
                      'Mighty Ducks of Anaheim': 'Anaheim Ducks',
                      'Phoenix Coyotes': 'Arizona Coyotes'}}

In [21]:
df_lists.replace(replace_dict,inplace=True)

In [22]:
df_lists['Home'].unique()

array(['Edmonton Oilers', 'Pittsburgh Penguins', 'San Jose Sharks',
       'Winnipeg Jets', 'Anaheim Ducks', 'Boston Bruins',
       'Buffalo Sabres', 'Chicago Blackhawks', 'Detroit Red Wings',
       'Los Angeles Kings', 'New York Rangers', 'Ottawa Senators',
       'Columbus Blue Jackets', 'Dallas Stars', 'Tampa Bay Lightning',
       'Arizona Coyotes', 'Carolina Hurricanes', 'Calgary Flames',
       'Florida Panthers', 'New Jersey Devils', 'New York Islanders',
       'St. Louis Blues', 'Toronto Maple Leafs', 'Vancouver Canucks',
       'Washington Capitals', 'Montreal Canadiens', 'Nashville Predators',
       'Vegas Golden Knights', 'Colorado Avalanche', 'Minnesota Wild',
       'Philadelphia Flyers'], dtype=object)

In [23]:
df_lists.head()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,season
0,2017-10-04,Calgary Flames,0.0,Edmonton Oilers,3.0,NaN,2018
1,2017-10-04,St. Louis Blues,5.0,Pittsburgh Penguins,4.0,OT,2018
2,2017-10-04,Philadelphia Flyers,5.0,San Jose Sharks,3.0,NaN,2018
3,2017-10-04,Toronto Maple Leafs,7.0,Winnipeg Jets,2.0,NaN,2018
4,2017-10-05,Arizona Coyotes,4.0,Anaheim Ducks,5.0,NaN,2018

In [24]:
ind = df_lists['OTSO'].isna()
df_lists.loc[ind,'OTSO'] = 'REG'

In [25]:
df_lists['OTSO'].unique()

array(['REG', 'OT', 'SO'], dtype=object)

In [26]:
# how come this doesnt work??? teams = df_lists['Home'].unique().sort()
teams = df_lists['Home'].unique()
teams.sort()
teams

array(['Anaheim Ducks', 'Arizona Coyotes', 'Boston Bruins',
       'Buffalo Sabres', 'Calgary Flames', 'Carolina Hurricanes',
       'Chicago Blackhawks', 'Colorado Avalanche',
       'Columbus Blue Jackets', 'Dallas Stars', 'Detroit Red Wings',
       'Edmonton Oilers', 'Florida Panthers', 'Los Angeles Kings',
       'Minnesota Wild', 'Montreal Canadiens', 'Nashville Predators',
       'New Jersey Devils', 'New York Islanders', 'New York Rangers',
       'Ottawa Senators', 'Philadelphia Flyers', 'Pittsburgh Penguins',
       'San Jose Sharks', 'St. Louis Blues', 'Tampa Bay Lightning',
       'Toronto Maple Leafs', 'Vancouver Canucks', 'Vegas Golden Knights',
       'Washington Capitals', 'Winnipeg Jets'], dtype=object)

In [27]:
df_lists.head()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,season
0,2017-10-04,Calgary Flames,0.0,Edmonton Oilers,3.0,REG,2018
1,2017-10-04,St. Louis Blues,5.0,Pittsburgh Penguins,4.0,OT,2018
2,2017-10-04,Philadelphia Flyers,5.0,San Jose Sharks,3.0,REG,2018
3,2017-10-04,Toronto Maple Leafs,7.0,Winnipeg Jets,2.0,REG,2018
4,2017-10-05,Arizona Coyotes,4.0,Anaheim Ducks,5.0,REG,2018

In [28]:
team_elos = {}
for team in teams:
    team_elos[team] = 1500
team_elos

{'Anaheim Ducks': 1500,
 'Arizona Coyotes': 1500,
 'Boston Bruins': 1500,
 'Buffalo Sabres': 1500,
 'Calgary Flames': 1500,
 'Carolina Hurricanes': 1500,
 'Chicago Blackhawks': 1500,
 'Colorado Avalanche': 1500,
 'Columbus Blue Jackets': 1500,
 'Dallas Stars': 1500,
 'Detroit Red Wings': 1500,
 'Edmonton Oilers': 1500,
 'Florida Panthers': 1500,
 'Los Angeles Kings': 1500,
 'Minnesota Wild': 1500,
 'Montreal Canadiens': 1500,
 'Nashville Predators': 1500,
 'New Jersey Devils': 1500,
 'New York Islanders': 1500,
 'New York Rangers': 1500,
 'Ottawa Senators': 1500,
 'Philadelphia Flyers': 1500,
 'Pittsburgh Penguins': 1500,
 'San Jose Sharks': 1500,
 'St. Louis Blues': 1500,
 'Tampa Bay Lightning': 1500,
 'Toronto Maple Leafs': 1500,
 'Vancouver Canucks': 1500,
 'Vegas Golden Knights': 1500,
 'Washington Capitals': 1500,
 'Winnipeg Jets': 1500}

In [29]:
k_factor = 10
def update_elo(w_elo, l_elo):
    exp_win = expected_result(w_elo, l_elo)
    change = k_factor * (1-exp_win)
    w_elo = w_elo + change
    l_elo = l_elo - change
    return w_elo, l_elo

def expected_result(elo_a, elo_b):
    expect = 1.0/(1+10**((elo_b - elo_a)/400))
    return expect

In [30]:
#for row in df_lists.loc[1,:].itertuples():
    #print(row)

row = df_lists.loc[1,:]
print(row)

        Date              Visitor  VisitingGoals                 Home  \
1 2017-10-04      St. Louis Blues            5.0  Pittsburgh Penguins
1 2018-10-03   Montreal Canadiens            2.0  Toronto Maple Leafs
1 2019-10-02  Washington Capitals            NaN      St. Louis Blues

   HomeGoals OTSO  season
1        4.0   OT    2018
1        3.0   OT    2019
1        NaN  REG    2020

In [31]:
games = df_lists.reset_index()

In [32]:
games.loc[1,:]

index                              1
Date             2017-10-04 00:00:00
Visitor              St. Louis Blues
VisitingGoals                      5
Home             Pittsburgh Penguins
HomeGoals                          4
OTSO                              OT
season                          2018
Name: 1, dtype: object

In [33]:
games.head()

,index,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,season
0,0,2017-10-04,Calgary Flames,0.0,Edmonton Oilers,3.0,REG,2018
1,1,2017-10-04,St. Louis Blues,5.0,Pittsburgh Penguins,4.0,OT,2018
2,2,2017-10-04,Philadelphia Flyers,5.0,San Jose Sharks,3.0,REG,2018
3,3,2017-10-04,Toronto Maple Leafs,7.0,Winnipeg Jets,2.0,REG,2018
4,4,2017-10-05,Arizona Coyotes,4.0,Anaheim Ducks,5.0,REG,2018

In [34]:
games.drop('index', axis=1, inplace=True)

In [35]:
games.head()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,season
0,2017-10-04,Calgary Flames,0.0,Edmonton Oilers,3.0,REG,2018
1,2017-10-04,St. Louis Blues,5.0,Pittsburgh Penguins,4.0,OT,2018
2,2017-10-04,Philadelphia Flyers,5.0,San Jose Sharks,3.0,REG,2018
3,2017-10-04,Toronto Maple Leafs,7.0,Winnipeg Jets,2.0,REG,2018
4,2017-10-05,Arizona Coyotes,4.0,Anaheim Ducks,5.0,REG,2018

In [36]:
games.rename(columns={'season':'Season'}, inplace = True)

In [37]:
games.tail()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,Season
3808,2020-04-04,Chicago Blackhawks,NaN,New York Rangers,NaN,REG,2020
3809,2020-04-04,Pittsburgh Penguins,NaN,Ottawa Senators,NaN,REG,2020
3810,2020-04-04,Anaheim Ducks,NaN,San Jose Sharks,NaN,REG,2020
3811,2020-04-04,Montreal Canadiens,NaN,Toronto Maple Leafs,NaN,REG,2020
3812,2020-04-04,Vegas Golden Knights,NaN,Vancouver Canucks,NaN,REG,2020

In [38]:
for row in games.head().itertuples():
    print(row)

Pandas(Index=0, Date=Timestamp('2017-10-04 00:00:00'), Visitor='Calgary Flames', VisitingGoals=0.0, Home='Edmonton Oilers', HomeGoals=3.0, OTSO='REG', Season=2018)
Pandas(Index=1, Date=Timestamp('2017-10-04 00:00:00'), Visitor='St. Louis Blues', VisitingGoals=5.0, Home='Pittsburgh Penguins', HomeGoals=4.0, OTSO='OT', Season=2018)
Pandas(Index=2, Date=Timestamp('2017-10-04 00:00:00'), Visitor='Philadelphia Flyers', VisitingGoals=5.0, Home='San Jose Sharks', HomeGoals=3.0, OTSO='REG', Season=2018)
Pandas(Index=3, Date=Timestamp('2017-10-04 00:00:00'), Visitor='Toronto Maple Leafs', VisitingGoals=7.0, Home='Winnipeg Jets', HomeGoals=2.0, OTSO='REG', Season=2018)
Pandas(Index=4, Date=Timestamp('2017-10-05 00:00:00'), Visitor='Arizona Coyotes', VisitingGoals=4.0, Home='Anaheim Ducks', HomeGoals=5.0, OTSO='REG', Season=2018)

In [51]:
class TeamElos(dict):
    def __init__(self):
        super().__init__(self)
        for team in teams:
            self[team] = 1500
            
    def update(self, game_tuple):
        if game_tuple.VisitingGoals>game_tuple.HomeGoals:
            winning_team = game_tuple.Visitor
            losing_team = game_tuple.Home
        else:
            winning_team = game_tuple.Home
            losing_team = game_tuple.Visitor
        self[winning_team], self[losing_team] = update_elo(self[winning_team],self[losing_team])

In [58]:
elos = TeamElos()
for row in games.itertuples():
    if row.Date.date()< pd.Timestamp.today().date():
        elos.update(row)

In [53]:
games.dtypes

Date             datetime64[ns]
Visitor                  object
VisitingGoals           float64
Home                     object
HomeGoals               float64
OTSO                     object
Season                    int64
dtype: object

In [86]:
elos=pd.DataFrame(elos, index = ['Elo Rating']).T.sort_values(by='Elo Rating', ascending = False)

In [87]:
ind = games['Date']> pd.Timestamp.today().date()

/Users/will/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.

In [88]:
games_future = games.loc[ind,:].reset_index()
games_future.drop('index', axis=1, inplace=True)

In [89]:
games_future.head()

,Date,Visitor,VisitingGoals,Home,HomeGoals,OTSO,Season
0,2019-10-02,Vancouver Canucks,NaN,Edmonton Oilers,NaN,REG,2020
1,2019-10-02,Washington Capitals,NaN,St. Louis Blues,NaN,REG,2020
2,2019-10-02,Ottawa Senators,NaN,Toronto Maple Leafs,NaN,REG,2020
3,2019-10-02,San Jose Sharks,NaN,Vegas Golden Knights,NaN,REG,2020
4,2019-10-03,Arizona Coyotes,NaN,Anaheim Ducks,NaN,REG,2020

In [98]:
games_prediction = games_future.loc[0:10,['Date', 'Visitor', 'Home']]

In [99]:
elos.head()

                      Elo Rating
Tampa Bay Lightning  1651.488650
Boston Bruins        1571.082056
Washington Capitals  1563.752437
Nashville Predators  1555.058926
Winnipeg Jets        1548.370577

In [100]:
games_prediction.head()

        Date              Visitor                  Home
0 2019-10-02    Vancouver Canucks       Edmonton Oilers
1 2019-10-02  Washington Capitals       St. Louis Blues
2 2019-10-02      Ottawa Senators   Toronto Maple Leafs
3 2019-10-02      San Jose Sharks  Vegas Golden Knights
4 2019-10-03      Arizona Coyotes         Anaheim Ducks

In [101]:
games_prediction = pd.DataFrame.merge(games_prediction,elos,left_on= 'Visitor', right_index = True)
games_prediction.rename(columns={'Elo Rating':'Visitor Elo Rating'
                       }, inplace = True)
games_prediction.head()

        Date              Visitor                  Home  Visitor Elo Rating
0 2019-10-02    Vancouver Canucks       Edmonton Oilers         1442.726576
1 2019-10-02  Washington Capitals       St. Louis Blues         1563.752437
2 2019-10-02      Ottawa Senators   Toronto Maple Leafs         1401.496989
3 2019-10-02      San Jose Sharks  Vegas Golden Knights         1534.299391
4 2019-10-03      Arizona Coyotes         Anaheim Ducks         1475.793292

In [102]:
games_prediction = pd.DataFrame.merge(games_prediction,elos,left_on= 'Home', right_index = True)
games_prediction.rename(columns={'Elo Rating':'Home Elo Rating'
                       }, inplace = True)

In [103]:
games_prediction.head()

,Date,Visitor,Home,Visitor Elo Rating,Home Elo Rating
0,2019-10-02,Vancouver Canucks,Edmonton Oilers,1442.726576,1447.830046
1,2019-10-02,Washington Capitals,St. Louis Blues,1563.752437,1543.112556
2,2019-10-02,Ottawa Senators,Toronto Maple Leafs,1401.496989,1524.054571
3,2019-10-02,San Jose Sharks,Vegas Golden Knights,1534.299391,1518.802368
4,2019-10-03,Arizona Coyotes,Anaheim Ducks,1475.793292,1477.963580

In [104]:
games_prediction['Home Win%']= expected_result(games_prediction['Home Elo Rating'],games_prediction['Visitor Elo Rating'])

In [105]:
games_prediction.head()

,Date,Visitor,Home,Visitor Elo Rating,Home Elo Rating,Home Win%
0,2019-10-02,Vancouver Canucks,Edmonton Oilers,1442.726576,1447.830046,0.507344
1,2019-10-02,Washington Capitals,St. Louis Blues,1563.752437,1543.112556,0.470332
2,2019-10-02,Ottawa Senators,Toronto Maple Leafs,1401.496989,1524.054571,0.669406
3,2019-10-02,San Jose Sharks,Vegas Golden Knights,1534.299391,1518.802368,0.477713
4,2019-10-03,Arizona Coyotes,Anaheim Ducks,1475.793292,1477.963580,0.503123

In [114]:
games_prediction['Visitor Win%'] = 1-games_prediction['Home Win%']

In [115]:
games_prediction.head()

,Date,Visitor,Home,Home Win%,Away Win%,Visitor Win%
0,2019-10-02,Vancouver Canucks,Edmonton Oilers,0.507344,0.492656,0.492656
1,2019-10-02,Washington Capitals,St. Louis Blues,0.470332,0.529668,0.529668
2,2019-10-02,Ottawa Senators,Toronto Maple Leafs,0.669406,0.330594,0.330594
3,2019-10-02,San Jose Sharks,Vegas Golden Knights,0.477713,0.522287,0.522287
4,2019-10-03,Arizona Coyotes,Anaheim Ducks,0.503123,0.496877,0.496877

In [116]:
games_prediction.drop(['Visitor Elo Rating','Home Elo Rating'], axis = 1, inplace=True)

KeyError: "['Visitor Elo Rating' 'Home Elo Rating'] not found in axis"

In [117]:
games_prediction = games_prediction[['Date', 'Visitor', 'Visitor Win%','Home','Home Win%']]

In [119]:
games_prediction

,Date,Visitor,Visitor Win%,Home,Home Win%
0,2019-10-02,Vancouver Canucks,0.492656,Edmonton Oilers,0.507344
1,2019-10-02,Washington Capitals,0.529668,St. Louis Blues,0.470332
2,2019-10-02,Ottawa Senators,0.330594,Toronto Maple Leafs,0.669406
3,2019-10-02,San Jose Sharks,0.522287,Vegas Golden Knights,0.477713
4,2019-10-03,Arizona Coyotes,0.496877,Anaheim Ducks,0.503123
5,2019-10-03,Montreal Canadiens,0.445259,Carolina Hurricanes,0.554741
6,2019-10-03,Calgary Flames,0.567630,Colorado Avalanche,0.432370
7,2019-10-03,Boston Bruins,0.579184,Dallas Stars,0.420816
8,2019-10-03,Minnesota Wild,0.389811,Nashville Predators,0.610189
9,2019-10-03,Winnipeg Jets,0.674993,New York Rangers,0.325007
10,2019-10-03,Buffalo Sabres,0.320197,Pittsburgh Penguins,0.679803